require "kemal"
<% if engine == "slang" %>
require "kilt/slang"
<% end %>
require "./src/macros/*"
require "./src/<%= name %>.cr"

File.read_lines(".env").each do |line|
  key, value = line.strip.split "="
  ENV[key] = value
end

<% if api_only %>
Kave.configure do |c|
  # use default options
end
<% end %>
