require "kemal"
<% if engine == "slang" && !api_only %>require "kilt/slang"<% end %>
<% if api_only %>require "kave"<% end %>
require "./src/macros/*"
require "./src/<%= name %>.cr"

File.read_lines(".env").each do |line|
  key, value = line.strip.split "="
  ENV[key] = value
end

<% if api_only %>
Kave.configure do |c|
  # use default options
end
<% end %>
