name: <%= name %>
version: 0.0.1

authors:
  - Me

dependencies:
  kemal:
    github: sdogruyol/kemal
    branch: master
  <% if api_only %>
  kave:
    github: jwoertink/kave
    branch: master
  <% end %>
  <% if engine == "slang" %>
  slang:
    github: jeromegn/slang
    branch: master
  <% end %>

development_dependencies:
  spec-kemal:
    github: sdogruyol/spec-kemal
    branch: master
  icr:
    github: greyblake/crystal-icr
    branch: master
