name: <%= name %>
version: 0.0.1

authors:
  - Me

dependencies:
  kemal:
    github: sdogruyol/kemal
  spec-kemal:
    github: sdogruyol/spec-kemal
  slang:
    github: jeromegn/slang
  icr:
    github: greyblake/crystal-icr
    branch: master
